@using System.Threading.Tasks
@using FireSafetyTools.Models.Tools.FireSafety.DesignFire
@model FireSafetyTools.ViewModels.Tools.FireSafety.DesignFire.DesignFireViewModel

@{
    ViewBag.Title = "Design Fire Creation Kit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Design Fire Creation Kit</h2>

<div class="col-md-12" style="margin-top: 30px; padding-left: 0px;">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">List of Phases</h3>
                </div>
                <div class="col col-xs-6 text-right">
                    <div class="dropdown" style="display: inline;" id="PhaseTypeId" Name="PhaseTypeIdId">
                        <button id="dropDownMenu" class="btn btn-primary dropdown-toggle" style="position: relative; z-index: 1" type="button" data-toggle="dropdown">
                            Add a Phase
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(PhaseTypeHelper.GetPhaseTypeName(PhaseTypeHelper.GrowthKnownDurationAndGrowthRate), "New", "DesignFire", new {id = PhaseTypeHelper.GrowthKnownDurationAndGrowthRate}, null)</li>
                            <li>@Html.ActionLink(PhaseTypeHelper.GetPhaseTypeName(PhaseTypeHelper.GrowthKnownDurationAndTargetEffect), "New", "DesignFire", new {id = PhaseTypeHelper.GrowthKnownDurationAndTargetEffect}, null)</li>
                            <li>@Html.ActionLink(PhaseTypeHelper.GetPhaseTypeName(PhaseTypeHelper.GrowthKnownTargetEffectAndGrowthRate), "New", "DesignFire", new {id = PhaseTypeHelper.GrowthKnownTargetEffectAndGrowthRate}, null)</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink(PhaseTypeHelper.GetPhaseTypeName(PhaseTypeHelper.SteadyKnownDuration), "New", "DesignFire", new {id = PhaseTypeHelper.SteadyKnownDuration}, null)</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink(PhaseTypeHelper.GetPhaseTypeName(PhaseTypeHelper.DecayKnownDurationAndGrowthRate), "New", "DesignFire", new {id = PhaseTypeHelper.DecayKnownDurationAndGrowthRate}, null)</li>
                            <li>@Html.ActionLink(PhaseTypeHelper.GetPhaseTypeName(PhaseTypeHelper.DecayKnownDurationAndTargetEffect), "New", "DesignFire", new {id = PhaseTypeHelper.DecayKnownDurationAndTargetEffect}, null)</li>
                            <li>@Html.ActionLink(PhaseTypeHelper.GetPhaseTypeName(PhaseTypeHelper.DecayKnownTargetEffectAndGrowthRate), "New", "DesignFire", new {id = PhaseTypeHelper.DecayKnownTargetEffectAndGrowthRate}, null)</li>
                        </ul>
                    </div>
                    @Html.ActionLink("Clear All", "ClearTable", "DesignFire", null, new { @class = "btn btn-warning btn-create", style = "position: relative; z-index: 1" })
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="phaseTable" class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th style="text-align: center">#</th>
                        <th style="text-align: left">Phase</th>
                        <th style="text-align: center">Duration</th>
                        <th style="text-align: center">Growth Rate</th>
                        <th style="text-align: center">Max Effect</th>
                        <th style="text-align: center">Total Energy</th>
                        <th style="text-align: center"><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody>
                
                    @foreach (var phase in Model.Phases)
                    {
                        <tr>
                            <td id="phaseid" style="text-align: center">@phase.Id</td>
                            <td style="text-align: left">@phase.Name</td>
                            <td style="text-align: center">@phase.Duration s </td>
                            <td style="text-align: center">@phase.GrowthRateFactor</td>
                            <td style="text-align: center">@phase.TargetYq kW</td>
                            <td style="text-align: center">@phase.TotalEnergyReleased MJ</td>
                            <td style="text-align: center">
                                <a href="@Url.Action("EditPhase", "DesignFire", new {id = phase.Id})" class="btn btn-sm btn-default js-edit" style="position: relative; z-index: 1"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-sm btn-danger js-delete" style="position: relative; z-index: 1"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                    Page 1 of 1
                </div>
                <div class="col col-xs-8">
                    <ul class="pagination hidden-xs pull-right">
                        <li><a href="#">1</a></li>
                    </ul>
                    <ul class="pagination visible-xs pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="inline" style="position: relative;">
    
    <button class="btn btn-danger" type="button" style="display: inline">Export</button>

</div>

<div id="myDiv"></div>

<style>
    
    .panel-table .panel-body{
        padding: 0;
        min-height: 85px;
    }

    .panel-table .panel-body .table-bordered{
        border-style: none;
        margin:0;
    }

    .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
        text-align:center;
        width: 100px;
    }

    .panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
    .panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
      border-right: 0px;
    }

    .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
    .panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
      border-left: 0px;
    }

    .panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
      border-bottom: 0px;
    }

    .panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
      border-top: 0px;
    }

    .panel-table .panel-footer .pagination{
      margin:0; 
    }


    .panel-table .panel-footer .col{
     line-height: 34px;
     height: 34px;
    }

    .panel-table .panel-heading .col h3{
     line-height: 30px;
     height: 30px;
    }

    .panel-table .panel-body .table-bordered > tbody > tr > td{
      line-height: 34px;
    }

</style>

@section scripts {
    <script src="~/lib/plotly.js-1.21.2/dist/plotly.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script>

        $(document)
            .ready(function() {

                var plot = document.getElementById("myDiv");

                window.onresize = function() {

                    Plotly.Plots.resize(plot);

                }


                // Plot Layout
                var layout = {
                    title: "Design Fire",
                    //autosize: "true",
                    xaxis: {
                        title: "Time [s]"
                    },
                    yaxis: {
                        title: "Effect [kW]"
                    }
                };

                // Function to update plot
                var updatePlot = function() {
                    $.ajax({
                        url: "@Url.Action("GetChartData", "DesignFire")",
                        method: "GET",
                        success: function(chartData) {

                            var xAxisData = JSON.parse(chartData.xAxis);
                            var yAxisData = JSON.parse(chartData.yAxis);

                            var line = {
                                x: xAxisData,
                                y: yAxisData,
                                fill: 'tozeroy',
                                type: 'line'
                            };

                            var data = [line];

                            Plotly.newPlot(plot, data, layout);
                        }
                    });
                }

                updatePlot();

                // Function for deleting a Phase in the table
                $("#phaseTable").on("click", ".js-delete", function() {
                            var button = $(this);

                            bootbox.confirm("Are you sure you want to delete this phase?", function(result) {
                                    if (result) {

                                        var phaseid = button.parents("tr").children().first().text();

                                        $.ajax({
                                            url: "@Url.Action("DeletePhase", "DesignFire")",
                                            data: { "id": phaseid },
                                            method: "DELETE",
                                            success: function() {
                                                button.parents("tr").remove();
                                                $("#phaseTable").load("@Url.Action("Index", "DesignFire") #phaseTable");

                                                updatePlot();

                                    }
                            });
                        }
                    });
                });

                $("#phaseTable").on("click", "js-edit", function() {
                    var button = $(this);

                    var phaseid = button.parents("tr").children().first().text();

                    $.ajax({
                        url: "@Url.Action("EditPhase", "DesignFire")",
                        data: { "id": phaseid },
                        method: "POST",
                        success: function() {

                            updatePlot();
                        }
                    });
                });
            });

    </script>
}

