@using System.Threading.Tasks
@using FireSafetyTools.Models.Tools.FireSafety.DesignFire
@model FireSafetyTools.ViewModels.Tools.FireSafety.DesignFire.PhaseFormViewModel

@{
    ViewBag.Title = "Create New Phase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownDurationAndGrowthRate ||
                    Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownDurationAndTargetEffect ||
                    Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownTargetEffectAndGrowthRate)
{
    <h2>Create a new Growth Phase</h2>
}

@if (Model.PhaseTypeId == PhaseTypeHelper.SteadyKnownDuration)
{
    <h2>Create a new Steady Phase</h2>
}


@if (Model.PhaseTypeId == PhaseTypeHelper.DecayKnownDurationAndGrowthRate ||
                    Model.PhaseTypeId == PhaseTypeHelper.DecayKnownDurationAndTargetEffect ||
                    Model.PhaseTypeId == PhaseTypeHelper.DecayKnownTargetEffectAndGrowthRate)
{
    <h2>Create a new Decay Phase</h2>
}

@using (Html.BeginForm("Save", "DesignFire"))
{
    <div class="form-group" style="margin-top: 30px">
        @if (Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownDurationAndGrowthRate ||
                     Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownDurationAndTargetEffect ||
                     Model.PhaseTypeId == PhaseTypeHelper.DecayKnownDurationAndGrowthRate ||
                     Model.PhaseTypeId == PhaseTypeHelper.DecayKnownDurationAndTargetEffect ||
                     Model.PhaseTypeId == PhaseTypeHelper.SteadyKnownDuration)
        {
            @Html.LabelFor(d => d.Duration)
            @Html.TextBoxFor(d => d.Duration, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Duration)
        }
    </div>

    <div class="form-group">
        @if (Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownDurationAndTargetEffect ||
                                Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownTargetEffectAndGrowthRate ||
                                Model.PhaseTypeId == PhaseTypeHelper.DecayKnownDurationAndTargetEffect ||
                                Model.PhaseTypeId == PhaseTypeHelper.DecayKnownTargetEffectAndGrowthRate)
        {
            @Html.LabelFor(d => d.TargetYq)
            @Html.TextBoxFor(d => d.TargetYq, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.TargetYq)
        }
    </div>

    <div class="form-group">
        @if (Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownDurationAndGrowthRate ||
                                Model.PhaseTypeId == PhaseTypeHelper.GrowthKnownTargetEffectAndGrowthRate ||
                                Model.PhaseTypeId == PhaseTypeHelper.DecayKnownDurationAndGrowthRate ||
                                Model.PhaseTypeId == PhaseTypeHelper.DecayKnownTargetEffectAndGrowthRate)
        {
            @Html.LabelFor(d => d.GrowthRateFactor)
            @Html.TextBoxFor(d => d.GrowthRateFactor, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.GrowthRateFactor)
        }
    </div>
    
    @Html.TextBoxFor(d => d.PhaseTypeId, Model.PhaseTypeId.ToString(), new { @class = "hidden"})
    <button type="submit" class="btn btn-danger">Save Phase</button>

}